*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
#mylogo{
	cursor: pointer;
	
	
	border-radius: 50% ;
	height: 80px;
	width: 100px;
}
#mylogo:hover{
	transform: scale(1.11);
	transition: .01s;
}



.hero{
	background-color: #f25506;
	height:60vh;
	width: 100%;
	border-image-outset: url(../img/me3.jpg);
	/* background-image: url(../img/me3.jpg);  */
	background-repeat: no-repeat;
	/* image-resolution:unset; */
	background-size:cover;
	background-position: center;
}
#img{
	margin-left:70vw;
	height:max-content;
	width: max-content;
	border-radius: 50%;

}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: rgb(247, 255, 2);
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f99900;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: rgb(253, 236, 7);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #00f900;
	transition: .4s;
}
.btn{

	background-color:#f99900;
	color: rgb(245, 241, 241);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
	color: #00f900;
	transition: .4s;
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: rgb(247, 255, 2);
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: #f9bf00;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #f9bf00;
	letter-spacing: 2px;
	font-size: 20px;
}




.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #f99900;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: rgb(247, 255, 2);
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: rgb(247, 255, 2);
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: rgb(247, 255, 2);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:rgb(251, 104, 6);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f1fd00;
	cursor: pointer;
}

.service{
	background: #f25506;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: rgb(247, 255, 2);
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9bf00;

}
h5{
	color: rgb(251, 104, 6);
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: rgb(247, 255, 2);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:rgb(251, 104, 6);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid rgb(251, 104, 6);
	cursor: pointer;
}

footer{
	position: relative;
	width: 100%;
	height:fit-content;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  rgb(251, 104, 6);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

#Your_email{
	
	color:rgb(247, 255, 2);
	
	font-size: 20px; 
	margin-bottom: 10px;
}
#email{
	
	padding: 15px 90px;
	margin-bottom: 20px;
	

}
#Your_message{
	color:rgb(247, 255, 2);
	
	font-size: 20px; 
	margin-bottom: 10px;

}
#message{
	padding: 10px 80px;
	text-align: left;
}
footer p{
	display:flex;
	position:static;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: medium;
	color:rgb(247, 255, 2);
	
	font-size: 20px; 
	margin-bottom: 10px;
}
#send{
	display: flex;
	margin-top: 5px;

}
.end {
	position:static;
	color:rgb(247, 255, 2);
	bottom: 35px;
	font-size: 14px; 
	margin-bottom: 20px;
	display: flex;
}
#clock{
	height: 200px;
	width: 200px;
	margin-bottom: 15px;
}
#todo{
	height: 200px;
	width: 200px;
	margin-bottom: 35px;

}
#portfo{
	height: 200px;
	width: 200px;
	margin-bottom: 35px;

}

